.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: spacing(1.5);
  border-radius: 16px;
  padding: spacing(3) spacing(8);
  transition:
    color $animation-speed ease-in-out,
    background-color $animation-speed ease-in-out,
    border-color $animation-speed ease-in-out,
    box-shadow $animation-speed ease-in-out;

  &-primary {
    &:hover {
      border-color: color.adjust($color-primary, $lightness: -10%);
      background-color: color.adjust($color-primary, $lightness: -10%);
    }
  }
}
