.return-to-top {
  pointer-events: none;
  position: fixed;
  right: 15px;
  bottom: -50px;
  z-index: $z-model - 1;
  visibility: hidden;
  border-radius: 12px;
  background-color: $color-primary;
  padding: spacing(2) spacing(3);
  color: $color-white;
  transition: all .5s ease;
  cursor: pointer;

  &.show {
    pointer-events: all;
    bottom: 30px;
    visibility: visible;
  }

  &:hover {
    background-color: color.adjust($color-gray-600, $lightness: -15%);
    transform: scale(1.15);
  }
}

@include tablet-portrait-down {
  .return-to-top {
    right: 0;
    border-radius: 16px 0 0 16px;
  }
}
