/** general styling */
body {
  margin: 0;
  background-color: $color-body;
  color: $color-text;
  font-size: $font-size-normal-mobile;
  font-family: $font-body;
  line-height: 1.5;
}

#app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  padding: spacing(10) 0 spacing(16);
  text-align: left;

  .container {
    text-align: left;
  }

  .btn-wrapper {
    width: 200px;
  }
}

.text-color-primary {
  color: $color-text;
}

.text-color-secondary {
  color: $color-primary;
}

.text-muted {
  color: $color-gray-600 !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-bottom: .5rem;
  color: $color-text;
  font-weight: $font-weight-bold;
  line-height: 1.618;
}

h1, .h1 {
  font-size: $font-size-h1-mobile;
}

h2, .h2 {
  font-size: $font-size-h2-mobile;
}

h3, .h3 {
  font-size: $font-size-h3-mobile;
}

h4, .h4 {
  font-size: $font-size-h4-mobile;
}

h5, .h5 {
  font-size: $font-size-h5-mobile;
}

ul {
  list-style: none;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color $animation-speed;

  &:hover {
    color: $color-link-hover;
    text-decoration: none;
  }

  &.text-color-secondary {
    &:hover {
      color: $color-gray-500;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hover-underline {
  position: relative;
  margin-bottom: 0;
  background-image: linear-gradient(currentcolor, currentcolor);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 0% 2px;
  text-decoration: none;
  transition: background-size .3s;

  &:hover,
  &--focus {
    background-size: 100% 2px;
  }
}

.pt-6 {
  padding-top: 100px !important;
}

.pb-6 {
  padding-bottom: 100px !important;
}

.bi.size-sm {
  &::before {
    font-size: 1.55rem !important;
  }
}

@include tablet-up {
  .text-md-left {
    text-align: left !important;
  }
}

@include tablet-portrait-up {
  body {
    font-size: $font-size-normal;
  }

  h1, .h1 {
    font-size: $font-size-h1;
  }

  h2, .h2 {
    font-size: $font-size-h2;
  }

  h3, .h3 {
    font-size: $font-size-h3;
  }

  h4, .h4 {
    font-size: $font-size-h4;
  }

  h5, .h5 {
    font-size: $font-size-h5;
  }
}
