// default colors
$color-white: #fff;
$color-black: #000;

$color-gray-050: #f8f9fa;
$color-gray-100: #f1f3f6;
$color-gray-200: #e1e1e1;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-550: #919191;
$color-gray-600: #666;
$color-gray-700: #495057;
$color-gray-800: #3c3c3c;
$color-gray-900: #2c2d30;
$color-gray-950: #212529;

// body colors
$color-body: $color-gray-050;
$color-body-dark: $color-black;

// text colors
$color-text: $color-gray-950;
$color-text-light: $color-white;

// primary and secondary color
$color-primary: #27187e;
$color-secondary: #ff8600;

// component colors
$color-link: $color-primary;
$color-link-hover: color.adjust($color-link, $lightness: -10%);

$color-code-block-background: $color-gray-950;

// define your other color variables here
